@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins";
    padding: 0;
    margin: 0;
    color: white;
    scroll-behavior: smooth;
}

header {
    background-color: black;

    nav a {
        text-decoration: none;
        padding-right: 20px;
    }

    a #login {
        padding-right: 0px;
    }

    nav:hover {
        opacity: 100%;
    }

    nav {
        opacity: 20%;
        padding: 10px;
        transition: ease-in 0.2s;
        position: fixed;
        top: 0;
        text-align: center;
        top: 3%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    background-color: white;
    span{
        color: #747679;
        font-size: 12px;
        padding: 10px;
        padding-bottom: 0;
    }
    p{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

body {
    position: relative;
    background-color: black;
    padding-bottom: 6rem ;
}

#home {
    height: 100vh;
    background-image: url(HomePics/homeBackground.jpg);
    background-size: cover;
    border-bottom: 1px outset #ffffff15;


    #welcome h1 {
        height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20vw;
    }

    #welcome h2 {
        display: flex;
        align-items: center;
        justify-content:center;
        padding-top: 40vh;
        font-size: 3vw;
    }
}

#newcars {
    /* background-image: url(HomePics/carsBackground.jpg);
    background-size: cover; */
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border-bottom:1px solid #ffffff15; */
    min-height: 100vh;
    padding-bottom: 5vw;

    img {
        width: 40vw;
        border-bottom: 1px solid white;
        border-radius: 9%;
        box-shadow: 2vw;
        padding: 10px;
    }

    h2 {
        padding-top: 3vh;
        font-size: 7vw;
        padding-bottom: 50px;
    }


    #desc {
        display: flex;
        flex-direction: column;
    }

    #cars {
        display: flex;
        flex-direction: row;
    }

    a {
        text-decoration: none;
        color: white;
        opacity: 30%;
        font-size: small;
        padding-right: 20px;
        transition: ease-in 0.2s;
    }

    a:hover {
        opacity: 100%;
    }

    #desc h3 {
        font-size: 40px;
    }

    .firstcar {
        color: #de7211;
    }

    .secondcar {
        color: #1c83b7;
    }

    .thirdcar {
        color: #6b6b6b;
    }
}

#used{
    min-height: 100vh;

    h2{
        text-align: center;
        padding-top: 4vh;
        font-size: 5vw;
        
    }
    span{
        font-weight: 100;
        font-size: 3vw;
    }
    .carstagram{
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 3vw;
        row-gap: 5vw;
        max-width: 100%;
        padding: 0 5vw;
        padding-top: 100px;
        
    }
    .post img{
        width: 100%;
        border-radius: 4px;
        transition: ease-in 0.1s;
    }
    .post{
        background-color: white;
        text-align: center;
        /* box-shadow: 0px 0px 7px 1px white; */
        border: 1px solid white;
        border-radius: 5px;
    }
    .post img:hover{
        /* box-shadow: 0px 0px 6px 3px white; */
        opacity: 30%;
    }
    .interacts{
        display: flex;
    }
    .interacts p{
        color:black;
        font-size: 2vw;
    }
    .interacts img{
        width: 3vw;
        cursor: pointer;
        padding-left: 1vw;
    }
}