h2 {
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 60px;
}

.choices {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 15vw;
    transform: translateY(-50%);
}


  
  .choices button {
    height: 165px;
    width: 165px;
    font-size: 90px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .choices button:hover {
    background-color: #45a049;
  }
  
  .waiting, .result {
    position: absolute;
    top: 27vh;
    right: 15vw;
    transform: translateY(50%);
    font-size: 90px;
    border-radius: 5px;
    border: 40px solid red;
    background-color: red;
  }
  
  .score {
      font-size: 2vw;        
      margin-top: 30vh;
      text-align: center;
      margin-bottom: 5vh;
  }
  
  button{
      padding: 10px 20px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #007bff;
      color: white;
      margin-top: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
  }
  
  button:hover{
      background-color: #0056b3;
  }